body {
  background: rgb(52, 247, 3);
}
h1 {
  color: rgb(7, 7, 245);
  text-align: center;
  background-color: chartreuse;
  font-size: 60px;
  font-style: oblique;

}
h2 {
  color: rgb(241, 42, 7);
  font-style: italic;
  text-align: center;
  font-style: italic;
}
p {
  font-family: fantasy
  

}
ul {
  line-height: 20px;
  color: rgb(0, 0, 253);
  font-feature-settings: "dlig";
}
p {line-height: 40px;
}
em {font-weight: bolder;
}

strong {
  font-style: italic;
}