body {
  background: rgb(58, 245, 11);
}
h1 {
  color: blue;
  text-align: center;
  background-color: rgb(124, 196, 53);
  font-size: 60px;
  font-style: oblique;

}
h2 {
  color: rgb(6, 230, 238);
  font-style: italic;
  text-align: center;
  font-style: italic;
}
p {
  font-family: fantasy
  

}
ul {
  line-height: 20px;
  color: rgb(97, 182, 41);
  font-feature-settings: "dlig";
}
p {line-height: 40px;
}
em {font-weight: bolder;
}

strong {
  font-style: italic;
}